* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html, body, #gameContainer, section {
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #2982ba;
    position: absolute;
    font: 400 14px/1 "Helvetica Neue",Helvetica,Arial,sans-serif
}

audio {
    visibility: hidden;
}

.button, .button_small, .button_big {
    border: 0;
    display: block;
    text-align: center;
    width: 93px;
    height: 40px;
    line-height: 40px;
    background: url(btn.png) no-repeat 0 0;
    background-size: 100%;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
}
.button_small {
    width: 56px;
    height: 39px;
    background-image: url(btn_small.png);
}
.button_big {
    width: 74px;
    height: 64px;
    line-height: 64px;
    background-image: url(btn_big.png);
}
.button:active, .button_small:active, .button_big:active {
    background-position: 0 100%;
}

#gameContainer {
    background: #fff url(bg.jpg) no-repeat 0 0;
    background-size: 100%;
}

html, body, canvas, div, section {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webktt-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-drag: none;
}

section {
    position: absolute;
    top: -10000px;
    left: -10000px;
}

.sprite {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.slotPanel {
    width: 282px;
    height: 232px;
    background-image: url(slot.png);
    margin: 130px auto 0;
}

.score {
    position: absolute;
    font-family: "DB LCD Temp";
    -webkit-text-stroke: 1px;
    color: #fa0;
    -webkit-text-fill-color: #af0;
    font-size: 22px;
}

.slotPanel ul {
    position: absolute;
    top: 46px;
    left: 23px;
    width: 240px;
    height: 134px;
    overflow: hidden;
    border-radius: 6px;
}

.slotPanel ul li {
    position: absolute;
    width: 64px;
    height: 882px;
    background: url(warms.png) repeat-y 0 0;
    background-size: 100%;
    top: -35px;
}

.mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    background: rgba(0, 0, 0, 0.3);
}

#bingo {
    display: none;
}

.bingo {
    width: 196px;
    height: 215px;
    background: url(bingo.gif) no-repeat 0 0;
    background-size: 100% 100%;
    position: absolute;
    top: 50%; left: 50%;
    margin-top: -108px;
    margin-left: -98px;
}

.center {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

#welcomeLayer nav {
    width: 93px;
    padding: 60px 0 0;
}

#welcomeLayer .button {
    margin-top: 12px;
}

#item1 {
    left: 5px;
}
#item2 {
    left: 88px;
}
#item3 {
    right: 5px;
}

.slotPanel hr {
    border: none;
    width: 254px;
    height: 12px;
    background: url(line.png) no-repeat 0 0;
    background-size: 100% 100%;
    position: absolute;
    top: 110px;
    left: 15px;
}

.box-shadow {
    border: 1px solid #f00;
}

#score {
    left: 60px;
    top: 11px;
}

#earn {
    left: 59px;
    bottom: 12px;
    font-size: 16px;
    line-height: 16px;
    height: 16px;
    overflow: hidden;
}

#bet {
    left: 194px;
    bottom: 12px;
    font-size: 16px;
    line-height: 16px;
    height: 16px;
    overflow: hidden;
}

.slotMenu {
    margin: 10px 30px 0;
    height: 64px;
    vertical-align: middle;
}

#startBtn {
    float: right;
}

#backBtn {
    float: left;
    margin-right: 20px;
    margin-top: 12px;
}

#betBtn {
    float: left;
    margin-top: 12px;
}

.dialog {
    display: none;
}

.dialog .panel {
    width: 200px;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
    background: #fff;
    position: absolute;
    left: 50%; top: 50%;
    margin-left: -100px;
    margin-top: -75px;
    background-image: -webkit-gradient(linear, center top, center bottom, from(#4dafee), to(#257db5));
    background-image: -webkit-linear-gradient(top, #4dafee, #257db5);
    background-image: linear-gradient(top, #4dafee, #257db5);
}

.dialog #dialog-title {
    color: #fff;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}

.dialog #dialog-content {
    border-radius: 6px;
    border: 3px solid #fff;
    background: #eee;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    margin: 0 10px;
    height: 90px;
    font-size: 14px;
    padding: 5px 7px;
    color: #666;
    overflow: hidden;
}

.dialog #dialog-close {
    width: 20px;
    height: 20px;
    background: url(close.png) no-repeat 0 0;
    background-size: 100% 100%;
    font-weight: bold;
    position: absolute;
    right: -7px;
    top: -7px;
}

.transition {
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}

.show-dialog #gameContainer {
    -webkit-filter : blur(2px);
}

.show-dialog .dialog {
    display: block;
}

#earnLayer {
    width: 100%;
    height: 100%;
}

#earnLayer .panel {
    width: 282px;
    height: 137px;
    background: url(panel.png) no-repeat 0 0;
    background-size: 100% 100%;
    position: relative;
    margin: 130px auto 10px;
}

.trade-panel {
    width: 248px;
    height: 93px;
    position: absolute;
    top: 34px;
    left: 15px;
    overflow: hidden;
}
.trade-panel li {
    width: 100%;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    font-size: 12px;
    line-height: 19px;
    height: 19px;
}

.trade-panel li span {
    color: #f60;
    font-family: "DB LCD Temp";
    margin: 0 2px;
}

#score2 {
    left: 60px;
    top: 11px;
}

#earnLayer fieldset {
    padding-right: 2px;
    padding-top: 10px;
    width: 293px;
    margin: 0 auto 0;
    border: none;
    border-top: 1px solid #2982ba;
}

#earnLayer fieldset legend {
    color: #2982ba;
    padding: 0 10px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
    font-size: 14px;
}

#earnLayer fieldset span {
    margin-left: 2px;
    margin-bottom: 5px;
    display: inline-block;
}

#earn-back-btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.layer-mask {
    background: rgba(0, 0, 0, 0);
    left: 0; top: 0;
    display: none;
}

.transform {
    -webkit-transition: all 1s ease-out;
}

.anim {
    -webkit-animation-name: glow;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes glow {
    0% {
        color: #ff0;
    }
    50% {
        color: #fa0;
    }
    100% {
        color: #f60;
    }
}