* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html, body, #gameContainer, section {
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #2982ba;
    position: absolute;
    font: 400 14px/1 "Helvetica Neue",Helvetica,Arial,sans-serif
}

body {
    background: #59eae9 url(bg.jpg) no-repeat 0 bottom;
    background-size: 100% 100%;
}

audio {
    visibility: hidden;
}

.button, .button_small, .button_big {
    border: 0;
    display: block;
    text-align: center;
    width: 93px;
    height: 38px;
    line-height: 40px;
    background: url(btn.png) no-repeat 0 0;
    background-size: 100% 200%;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.button_small {
    width: 56px;
    height: 39px;
    background-image: url(btn_small.png);
}
.button_big {
    width: 74px;
    height: 64px;
    line-height: 64px;
    background-image: url(btn_big.png);
    color: #333;
    text-shadow: 0 1px 1px #fff;
}
.button:active, .button_small:active, .button_big:active {
    background-position: 0 100%;
}

#gameContainer {
    top: 50px;
    background: url(logo.jpg) no-repeat center top;
    background-size: 100%;
}

html, body, canvas, div, section {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-drag: none;
}

section {
    position: absolute;
    top: -10000px;
    left: -10000px;
}

.sprite {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.slotPanel {
    width: 282px;
    height: 232px;
    background-image: url(slot.gif);
    margin: 0 auto;
}

.score {
    position: absolute;
    font-family: "DB LCD Temp";
    -webkit-text-stroke: 1px;
    color: #fa0;
    -webkit-text-fill-color: #af0;
    font-size: 22px;
}

.slotPanel ul {
    position: absolute;
    top: 46px;
    left: 23px;
    width: 240px;
    height: 134px;
    overflow: hidden;
    border-radius: 6px;
}

.slotPanel ul li {
    position: absolute;
    width: 64px;
    height: 882px;
    background: url(warms.png) repeat-y 0 0;
    background-size: 100%;
    top: -35px;
}

.mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    background: rgba(0, 0, 0, 0.3);
}

#bingo {
    display: none;
}

.bingo {
    width: 196px;
    height: 215px;
    background: url(bingo.gif) no-repeat 0 0;
    background-size: 100% 100%;
    position: absolute;
    top: 50%; left: 50%;
    margin-top: -108px;
    margin-left: -98px;
}

.center {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}

#welcomeLayer nav {
    width: 93px;
    padding: 12% 0 0;
}

#welcomeLayer .button {
    margin-top: 12px;
}

#item1 {
    left: 5px;
}
#item2 {
    left: 88px;
}
#item3 {
    right: 5px;
}

.slotPanel hr {
    border: none;
    width: 254px;
    height: 12px;
    background: url(line.png) no-repeat 0 0;
    background-size: 100% 100%;
    position: absolute;
    top: 100px;
    left: 15px;
}

.box-shadow {
    border: 1px solid #f00;
}

#score {
    left: 60px;
    top: 18px;
}

#earn {
    left: 59px;
    bottom: 17px;
    font-size: 16px;
    line-height: 16px;
    height: 16px;
    overflow: hidden;
}

#bet {
    left: 194px;
    bottom: 17px;
    font-size: 16px;
    line-height: 16px;
    height: 16px;
    overflow: hidden;
}

.slotMenu {
    margin: 10px 5px 0;
    height: 64px;
    vertical-align: middle;
}

#startBtn {
    float: right;
    margin-left: 2px;
}

#backBtn {
    float: left;
    margin-right: 2px;
    margin-top: 12px;
}

#rateBtn {
    float: left;
    margin-right: 15px;
    margin-top: 12px;
}

#betBtn {
    float: left;
    margin-top: 12px;
    margin-right: 5px;
}

.btnMenu {
    margin: -7px 5px 0;
}

.btnMenu div {
    display: inline-block;
    margin-right: 2px;
}

.dialog {
    display: none;
    width: 100%;
    height: 100%;
}

.dialog .outer {
    width: 100%;
    height: 100%;
}

.dialog .panel {
    width: 280px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
    position: relative;
    background: #fff;
    background-image: -webkit-gradient(linear, center top, center bottom, from(#d95e98), to(#d03795));
    background-image: -webkit-linear-gradient(top, #d95e98, #d03795);
    background-image: linear-gradient(top, #d95e98, #d03795);
}

.dialog #dialog-title {
    color: #fff;
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}

.dialog #dialog-buttons {
    text-align: right;
    padding: 7px 5px;
}

.dialog #dialog-content {
    border-radius: 6px;
    border: 3px solid #fff;
    background: #eee;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    margin: 0 10px;
    height: 90px;
    font-size: 14px;
    padding: 5px 7px;
    color: #666;
    overflow: hidden;
}

.dialog #dialog-close {
    width: 30px;
    height: 30px;
    background: url(close.png) no-repeat center center;
    background-size: 20px 20px;
    font-weight: bold;
    position: absolute;
    right: -12px;
    top: -12px;
}

.transition {
    transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
}

.show-dialog #gameContainer,
.show-mask  #gameContainer {
    -webkit-filter : blur(2px);
}

.show-dialog .dialog {
    display: block;
}

#earnLayer {
    width: 100%;
    height: 100%;
}

#earnLayer .trade-panel {
    width: 310px;
    height: 137px;
    background: url(panel.png) no-repeat 0 0;
    background-size: 100% 100%;
    margin: 0 auto 10px;
    position: relative;
}

.trade-outer {
    width: 272px;
    height: 93px;
    position: absolute;
    top: 34px;
    left: 19px;
    overflow: hidden;
}
.trade-outer li {
    width: 100%;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    font-size: 12px;
    line-height: 19px;
    height: 19px;
}

.trade-outer li span {
    color: #f60;
    font-family: "DB LCD Temp";
    margin: 0 2px;
}

#score2 {
    left: 55px;
    top: 8px;
}

#earnLayer fieldset {
    padding-right: 2px;
    padding-top: 10px;
    width: 300px;
    margin: 0 auto 0;
    border: none;
    border-top: 1px solid #2982ba;
}

#earnLayer fieldset legend {
    color: #2982ba;
    padding: 0 10px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.3);
    font-size: 14px;
}

#earnLayer fieldset span {
    margin-left: 6px;
    margin-bottom: 5px;
    display: none;
}

.bottom-btn,
.back-btn {
    position: absolute;
    right: 20px;
    bottom: 1%;
}

#history {
    position: absolute;
    right: 20px;
    bottom: 1%;
}

#sound {
    position: absolute;
    right: 5px;
    top: 25px;
    width: 36px;
    height: 18px;
    background: url("sound.png") no-repeat right 0;
    background-size: 18px 36px;
}

#sound.off {
    background-position: right 100%;
}

.layer-mask {
    background: rgba(0, 0, 0, 0);
    left: 0; top: 0;
    display: none;
}

.transform {
    -webkit-transition: all 1s ease-out;
}

.anim {
    -webkit-animation-name: glow;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
}

table {
    border:0;
    margin:0;
    border-collapse:collapse;
    border-spacing:0;
}

.panel2 {
    width: 250px;
    min-height: 280px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
    padding: 10px 15px;
    font-size: 14px;
    max-height: 320px;
    overflow-x: hidden;
    overflow-y: auto;
}

#bindMobileLayer table,
#settingsLayer table {
    width: 249px;
    font-size: 18px;
    line-height: 22px;
    color: #333;
}

#bindMobileLayer table td,
#settingsLayer table td {
    padding: 7px 10px;
    text-align:justify;
    text-justify:inter-ideograph;
}

#bindMobileLayer table input[type=text],
#settingsLayer table input[type=text] {
    width: 140px;
}

#bindMobileLayer .check-btn {
    font-size: 12px;
    background: #2982ba;
    color: #fff;
    border-radius: 5px;
    line-height: 14px;
    padding: 3px 5px;
    display: inline-block;
}

input[type=text] {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #4c98d4;
    border-radius: 5px;
    font-size: 14px;
    line-height: 18px;
    padding: 3px 5px;
    box-shadow: none;
}

.pull-right {
    float: right;
}

::-webkit-input-placeholder { color:#369; }

#settingsLayer table .selected {
    background: rgb(28, 184, 65);;
}

#settingsLayer #settings-back-btn {
    right: 85px;
}

#tuijianLayer #tuijian-back-btn {
    right: 85px;
}

#tradeLayer .panel {
    width: 280px;
}

#tradeLayer h1.score {
    font-size: 25px;
    text-shadow: 0 0 4px rgba(0,0,0,0.7);
    left: 20px;
    bottom: 2%;
}

#tradeLayer ul {
    width: 100%;
}

#tradeLayer .button_small {
    right: 120px;
}

#historyLayer .panel2 {
    width: 270px;
}

#historyLayer ul {
    max-height: 300px;
    overflow-y: scroll;
}

#historyLayer ul li {
    height: 20px;
    line-height: 20px;
}

#historyLayer ul time {
    display: inline-block;
    color: #999;
    width: 78px;
}

#historyLayer ul span {
    display: inline-block;
}

#historyLayer ul span.comment {
    padding-left: 5px;
}

#historyLayer ul span.status {
    float: right;
}

#slotRate {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7) url(rate.png) no-repeat center center;
    background-size: 300px 176px;
    display: none;
}

.pure-button {
    display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    color: #444;
    color: rgba(0,0,0,.8);
    text-decoration: none;

    /*background: rgb(28, 184, 65);*/
    background: rgb(66, 184, 221);
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

    box-shadow: 0 1px 2px rgba(0,0,0,0.3);

    font-weight: bold;
}

.panel2 p {
    padding: 5px 0;
    text-indent: 2em;
}

.panel2 h1 {
    text-align: center;
    padding: 0 0 15px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
}

.panel2 h2 {
    text-align: center;
    padding: 15px 0 10px;
    font-size: 16px;
}

ul.list {
    width: 280px;
}
ul.list li {
    background: #fff;
    border-radius: 6px;
    font-size: 16px;
    display: block;
    margin-bottom: 7px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    padding: 5px 10px;
}

ul.list li:active {
    background: #ccc;
}

ul.list li span {
    display: inline-block;
}
ul.list li span:first-child {
    font-weight: bold;
}
ul.list li span:last-child {
    float: right;
    font-size: 14px;
}

.marquee {
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 20px;
    background: rgba(255,255,125, 0.9);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    font-size: 14px;
    line-height: 20px;
    color: #000;
}

.marquee div.item {
    display: inline-block;
    white-space: nowrap;
    word-break: break-all;
    min-width: 320px;
}

.marquee span {
    margin: 0 5px;
}

.marquee table td {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

#earn-show {
    display: none;
}

@-webkit-keyframes glow {
    0% {
        color: #ff0;
    }
    50% {
        color: #fa0;
    }
    100% {
        color: #f60;
    }
}