* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    list-style: none;
}
html, body, #gameContainer, section {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 18px;
}

#gameContainer {
    background: #fff url(bg.jpg) no-repeat 0 0;
    background-size: 100%;
}

html, body, canvas, div, section {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webktt-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-drag: none;
}

section {
    position: absolute;
    top: -10000px;
    left: -10000px;
}

.sprite {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.slotPanel {
    width: 282px;
    height: 232px;
    background-image: url(slot.png);
    margin: 130px auto 0;
}

.slotPanel .score {
    position: absolute;
    font-family: "DB LCD Temp";
    -webkit-text-stroke: 1px;
    color: #fa0;
    -webkit-text-fill-color: #af0;
}

.slotPanel ul {
    position: absolute;
    top: 46px;
    left: 23px;
    width: 240px;
    height: 134px;
    overflow: hidden;
}

.slotPanel ul li {
    position: absolute;
    width: 64px;
    height: 882px;
    background: url(warms.png) repeat-y 0 0;
    background-size: 100%;
    top: -37px;
}

.slotPanel hr {
    border: none;
    width: 254px;
    height: 12px;
    background: url(line.png) no-repeat 0 0;
    background-size: 100% 100%;
    position: absolute;
    top: 110px;
    left: 15px;
}

#item1 {
    left: 5px;
}
#item2 {
    left: 88px;
}
#item3 {
    right: 5px;
}

#glod {
    left: 60px;
    top: 11px;
    font-size: 22px;
}

#earn {
    left: 59px;
    bottom: 12px;
    font-size: 16px;
    line-height: 16px;
    height: 16px;
    overflow: hidden;
}

#bet {
    left: 194px;
    bottom: 12px;
    font-size: 16px;
    line-height: 16px;
    height: 16px;
    overflow: hidden;
}

.slotMenu {
    margin: 10px 30px 0;
    height: 64px;
    vertical-align: middle;
}

#startBtn {
    width: 74px;
    height: 64px;
    background-image: url(start.png);
    background-size: 100% 100%;
    float: right;
}

#betBtn {
    width: 57px;
    height: 40px;
    background-image: url(bet.png);
    background-size: 100% 100%;
    float: left;
    margin-right: 20px;
    margin-top: 12px;
}

#betAllBtn {
    width: 93px;
    height: 40px;
    background-image: url(bet_all.png);
    background-size: 100% 100%;
    float: left;
    margin-top: 12px;
}